@charset "UTF-8";
/* alert */
.hl-alert, .hl-alert-success, .hl-alert-error {
  position: fixed;
  top: 160px;
  left: 50%;
  z-index: 10;
  min-width: 152px;
  max-width: 300px;
  opacity: 0.97;
  padding: 17px 10px;
  word-wrap: break-word;
  word-break: break-word;
  color: #fff;
  text-align: center;
  letter-spacing: 1.4px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hl-alert-success {
  background-color: #1ec9ff;
}

.hl-alert-error {
  background-color: #e46500;
}

/* cursor */
.hl-cursor-pointer {
  cursor: pointer;
}

/* verify */
.help-block {
  text-align: left;
  color: #e03a00;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  margin-bottom: 5px;
  padding-left: 100px;
}

/* botton */
.hl-btn-common {
  width: 245px;
  height: 18px;
  padding: 14px 20px;
  margin-top: 6px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.6px;
  background-color: rgba(207, 216, 224, 0.7);
  box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.hl-userMenu-btn {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  width: 50%;
}

.hl-setpwd-btn {
  width: 98px;
  height: 31px;
}

/* clearfix */
.hl-clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.hl-clearfix {
  *zoom: 1;
}

/* float */
.hl-f-l {
  float: left;
}

.hl-f-r {
  float: right;
}

/* position */
.hl-p-a {
  position: absolute;
}

.hl-p-r {
  position: relative;
}

.hl-p-f {
  position: fixed;
}

/* show、hide */
.hl-show {
  display: block;
}

.hl-v-show {
  visibility: visible;
}

.hl-hide {
  display: none;
}

.hl-v-hide {
  visibility: hidden;
}

/* blur */
.hl-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

/* 遮罩 */
.hl-mask {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(247, 247, 248, 0.85);
}

@-moz-keyframes close_animation {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes close_animation {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes close_animation {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
